.bundle/
log/*.log
pkg/

.byebug_history

.idea/
*.gem
.DS_Store

dump.rdb
tmp/


Gemfile.lock

db/*.sqlite3

spec/dummy/app/views/
spec/dummy/app/controllers/
spec/dummy/specs/

spec/dummy/node_modules/
spec/dummy/log/

coverage/
