.bundle/
log/*.log
pkg/

.byebug_history

.idea/
*.gem
.DS_Store

dump.rdb
tmp/


Gemfile.lock

db/*.sqlite3

dummy/app/views/
dummy/app/controllers/
dummy/specs/

dummy/node_modules/
dummy/log/
dummy/Gemfile.lock
dummy/config/hot_glue.yml


coverage/

spec/dummy/app/controllers/
spec/dummy/app/views/

dummy/spec/system/
