.bundle/
log/*.log
pkg/

.byebug_history

.idea/
*.gem
.DS_Store

dump.rdb
tmp/


db/*.sqlite3

dummy/app/views/
dummy/app/controllers/
dummy/specs/

dummy/node_modules/
dummy/log/
dummy/Gemfile.lock
dummy/config/hot_glue.yml


coverage/

spec/dummy/app/controllers/
spec/dummy/app/views/
spec/dummy/app/javascript/application.js
dummy/spec/features/

spec/dummy/app/javascript/controllers/dropzone_controller.js
