= turbo_frame_tag "<%= singular %>__#{<%= singular %>.id}" do
  %div.tr{'data-id': <%= singular %>.id, 'data-edit': 'false'}
    = render partial: "show", locals: {<%= singular %>: <%= singular %>}



