= turbo_frame_tag "<%= plural %>-list" do
  %div.table.table-striped.<%= singular %>-table
    %div.thead
      %div.tr
<%= list_column_headings %>
    %div.tbody
      - if <%= plural %>.empty?
        None
      - <%= plural %>.each do |<%= singular %>|
        = render partial: '<%= line_path_partial %>', locals: {<%= singular %>: <%= singular %> <%= nested_assignments_with_leading_comma %> }
