= turbo_frame_tag "<%= singular %>-new" do
  %h3
    New <%= singular.titlecase %>

  = form_with model: @invoice, url: <%= path_helper_plural %>(<%= nested_objects_arity %>), method: "post", remote: true do  |f|
    = render partial: "<%=namespace_with_slash%><%= @plural %>/form", locals: {<%= singular %>: @<%= singular %>, f: f}

    .row
      .col-md-12
        = f.submit "Save", class: "btn btn-primary pull-right"
