.container-fluid
  .row
    .col-md-12
      <%= '= render partial: \'new_button\'' unless @no_create %>
      .clearfix
      = render partial: "<%= list_path_partial %>", locals: {<%= plural %>: @<%= plural %>}



