
<%= turbo_frame_tag "ghi__#{ ghi.id }" do  %>
  <div class='row scaffold-row' data-id='<%= ghi.id %>' data-edit='false'>
    <%= render partial: 'ghis/show', locals: { ghi: ghi } %>

  </div>
<% end %>




