
<div class="typeahead-results__<%= @plural %>"
     data-controller="typeahead-results"
     data-typeahead-results-typeahead-outlet=".<\%= @typeahead_identifier %>"
     data-typeahead-results-current-class="search__result--current" >
  <ul class="search__results" data-typeahead-results-target="result">
    <\% if @<%= @plural %>.any? %>
      <\%= render partial: "<%= @singular %>", collection: @<%= @plural %> %>
    <\% else %>
      <li class="search__result search__result--empty">No results</li>
    <\% end %>
  </ul>
</div>
