<div class="row">
  <div class='col-md-1' >  
    <span class='<%= "alert-danger" if abc.errors.details.keys.include?(:name) %>'  style="display: inherit;"  >
        <%= f.text_field :name, value: abc.name, autocomplete: 'off', size: 40, class: 'form-control', type: '' %>
       
      
      <label class='small form-text text-muted'>Name</label>
    </span>
    <br />
  </div>

  <div class="col-md-2">
    <%= link_to "Cancel", abcs_path,  {class: "btn btn-secondary"} %>
    <%= f.submit "Save", class: "btn btn-primary pull-right" %>
  </div>
</div>
