
<%= turbo_frame_tag "abc__#{ abc.id }" do  %>
  <div class='row scaffold-row' data-id='<%= abc.id %>' data-edit='false'>
    <%= render partial: 'abcs/show', locals: { abc: abc } %>

  </div>
<% end %>




