<div class='col-md-1'><%= abc.name %></div>




<div class=" scaffold-line-buttons  col-md-2" >
  

  
    <%= form_with url: abc_path(abc), html: {data: {'turbo-confirm': "Are you sure you want to delete #{ abc.name }?"}, style: "display: inline-block;"}, method: :delete do |f| %>
      <%= f.submit "Delete".html_safe,  class: "delete-abc-button btn btn-primary btn-sm" %>
    <% end %>
  

  
  <%= link_to "Edit <i class='fa fa-1x fa-list-alt'></i>".html_safe, edit_abc_path(abc), disable_with: "Loading...", class: "edit-abc-button btn btn-primary btn-sm" %>
  
</div>
